#logo {
  height: 15%;
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding: 1% 0;
}

.username {
  font-size: 20px;
  font-weight: 600;
  background-color: burlywood;
  padding: 1% 0;
  text-align: center;
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

.center > a {
  border: 1px solid thistle;
  padding: 5px 10px;
  margin-right: 30px;
  border-radius: 4%;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: grey;
}
